---
versionName: "[[ version_name ]]"
ga: [[ ga | yaml_value ]]
{%- if terms_and_conditions is not none %}
termsAndConditions: "[[ terms_and_conditions ]]"
{%- endif %}
trackingDisabled: [[ tracking_disabled | yaml_value ]]
hidden: [[ hidden | yaml_value ]]
invisible: [[ invisible | yaml_value ]]
releaseDate: "[[ release_date ]]"