---
apiVersion: appstudio.redhat.com/v1beta2
kind: IntegrationTestScenario
metadata:
{%- if optional %}
  labels:
    test.appstudio.openshift.io/optional: "true"
{%- endif %}
  name: [[ its_name ]]
spec:
  application: [[ application_name ]]
  contexts:
{%- if disabled %}
    - name: disabled
{%- else %}
{%- for component in components %}
    - description: Component testing for [[ component.name ]]
      name: component_[[ component.name ]]
{%- endfor %}
{%- endif %}
  params:
{%- for param in params %}
    - name: [[ param.name ]]
{%- if "values" in param %}
      values:
{%- for v in param["values"] %}
        - [[ v | yaml_value ]]
{%- endfor %}
{%- else %}
      value: [[ param.value | yaml_value ]]
{%- endif %}
{%- endfor %}
  resolverRef:
    params:
      - name: url
        value: https://github.com/konflux-ci/build-definitions
      - name: revision
        value: main
      - name: pathInRepo
        value: [[ path_in_repo if path_in_repo else "pipelines/enterprise-contract.yaml" ]]
    resolver: git
