---
apiVersion: appstudio.redhat.com/v1beta2
kind: IntegrationTestScenario
metadata:
{%- if optional %}
  labels:
    test.appstudio.openshift.io/optional: "true"
{%- endif %}
  name: [[ its_name ]]
spec:
  application: [[ application_name ]]
  contexts:
{%- for component in components %}
    - description: Component testing for [[ component.name ]]
      name: component_[[ component.name ]]
{%- endfor %}
  params:
{%- for param in params %}
    - name: [[ param.name ]]
      value: [[ param.value | yaml_value ]]
{%- endfor %}
  resolverRef:
    params:
      - name: org
        value: redhat
      - name: repo
        value: rhel-ai/konflux-data
      - name: scmType
        value: gitlab
      - name: serverURL
        value: https://gitlab.com
      - name: revision
        value: main
      - name: pathInRepo
        value: [[ path_in_repo ]]
      - name: token
        value: pipelines-as-code-secret
      - name: tokenKey
        value: password
    resolver: git
    resourceKind: pipeline
