---
apiVersion: appstudio.redhat.com/v1alpha1
kind: ReleasePlanAdmission
metadata:
  name: [[ release_plan_admission_name ]]
  namespace: rhtap-releng-tenant
  labels:
    release.appstudio.openshift.io/block-releases: 'false'
    pp.engineering.redhat.com/business-unit: ai
spec:
  applications:
    - [[ application_name ]]
  policy: [[ policy_name ]]
  data:
    singleComponentMode: [[ single_component_mode ]]
{%- if rpa_pipeline_type == "disk-image" %}
    cdn:
      env: {% if "stage" in release_plan_admission_name %}stage{% elif "prod" in release_plan_admission_name %}production{% else %}{{ error("RPA name must contain 'stage' or 'prod' for disk-image pipeline") }}{% endif %}
{%- endif %}
    mapping:
      components:
{%- for component in components %}
{%- if rpa_pipeline_type == "disk-image" %}
        - name: [[ component.name ]]
          staged:
            destination: [[ component.rpa_values.destination ]]
            version: '[[ component.rpa_values.version ]]'
            files:
              - filename: [[ component.rpa_values.filename ]]
                source: [[ component.rpa_values.source ]]
          contentGateway:
            productName: [[ component.rpa_values.productName ]]
            productCode: [[ component.rpa_values.productCode ]]
            productVersionName: {% if "stage" in release_plan_admission_name %}[[ component.rpa_values.productVersion ]]-staging{% elif "prod" in release_plan_admission_name %}[[ component.rpa_values.productVersion ]]{% else %}{{ error("RPA name must contain 'stage' or 'prod' for disk-image pipeline") }}{% endif %}
            filePrefix: [[ component.rpa_values.filePrefix ]]
            contentType: [[ component.rpa_values.contentType ]]
{%- else %}
        - name: [[ component.name ]]
          repositories:
            - url: {% if "stage" in release_plan_admission_name %}[[ component.stage_repository ]]{% else %}[[ component.prod_repository ]]{% endif %}
{%- endif %}
{%- endfor %}
{%- if rpa_pipeline_type == "full-container" %}
      defaults:
        pushSourceContainer: true
        tags:
{%- for tag in tags %}
          - "[[ tag ]]"
{%- endfor %}
{%- elif rpa_pipeline_type == "disk-image" %}
      defaults:
        pushSourceContainer: false
{%- endif %}
    releaseNotes:
      product_name: [[ product_name ]]
      product_version: "[[ product_version ]]"
      product_id: [[ product_id | list ]]
    intention: [[ intention ]]
  origin: [[ tenant_name ]]
  pipeline:
    pipelineRef:
      resolver: git
      params:
        - name: url
          value: "https://github.com/konflux-ci/release-service-catalog.git"
        - name: revision
          value: production
        - name: pathInRepo
          value: "[[ pipeline_path ]]"
    serviceAccountName: [[ service_account_name ]]
    timeouts:
      pipeline: "4h0m0s"
      tasks: 4h0m0s

