---
apiVersion: appstudio.redhat.com/v1alpha1
kind: ReleasePlan
metadata:
{%- if autorelease_annotation %}
  annotations:
    release.appstudio.openshift.io/auto-release: "{%- for component in components -%}updatedComponentIs('[[ component ]]'){%- if not loop.last %} || {% endif -%}{%- endfor -%}"
{%- endif %}
  labels:
{%- if not autorelease_annotation %}
    release.appstudio.openshift.io/auto-release: "[[ release_plan_autorelease ]]"
{%- endif %}
{%- if author %}
    release.appstudio.openshift.io/author: [[ author ]]
{%- endif %}
    release.appstudio.openshift.io/releasePlanAdmission: "[[ release_plan_admission_name ]]"
    release.appstudio.openshift.io/standing-attribution: "true"
  name: [[ release_plan_name ]]
  namespace: [[ tenant_name ]]
spec:
  application: [[ application_name ]]
  releaseGracePeriodDays: [[ release_plan_grace_period ]]
  target: rhtap-releng-tenant
{%- if final_pipeline %}
  finalPipeline:
    pipelineRef:
      resolver: git
      params:
        - name: url
          value: "[[ final_pipeline.url ]]"
        - name: revision
          value: "[[ final_pipeline.revision ]]"
        - name: pathInRepo
          value: "[[ final_pipeline.path_in_repo ]]"
    serviceAccountName: [[ final_pipeline.service_account_name ]]
{%- if final_pipeline.params %}
    params:
{%- for param in final_pipeline.params %}
      - name: [[ param.name ]]
        value: "[[ param.value ]]"
{%- endfor %}
{%- endif %}
{%- endif %}
