apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: [[ component_url ]]/-/tree/{{revision}}
    build.appstudio.redhat.com/commit_sha: "{{revision}}"
{%- if pipelinerun_type == "pull" %}
    build.appstudio.redhat.com/pull_request_number: "{{pull_request_number}}"
{%- endif %}
    build.appstudio.redhat.com/target_branch: "{{target_branch}}"
{%- if pipelinerun_type == "push" and build_nudge_files %}
    build.appstudio.openshift.io/build-nudge-files: "[[ build_nudge_files ]]"
{%- endif %}
    pipelinesascode.tekton.dev/cancel-in-progress: "{% if pipelinerun_type == "pull" %}true{% else %}false{% endif %}"
    pipelinesascode.tekton.dev/max-keep-runs: "3"
    pipelinesascode.tekton.dev/on-cel-expression: |
{%- if pipelinerun_type == "pull" %}
      event == "pull_request" && target_branch == "[[ branch ]]" && (
          ".tekton/[[ base_component_name ]]-on-pull-request.yaml".pathChanged() ||
          "[[ component_dockerfile ]]".pathChanged() ||
          "[[ config_toml ]]".pathChanged()[[ " ||" if cel_path_changed else "" ]]
{%- for path in cel_path_changed %}
          "[[ path ]]".pathChanged()[[ " ||" if not loop.last else "" ]]
{%- endfor %}
      )
{%- else %}
{%- if cel_push_tag_prefixes %}
      event == "push" && (
{%- for prefix in cel_push_tag_prefixes %}
      target_branch.startsWith("refs/tags/[[ prefix ]]")[[ " ||" if not loop.last else "" ]]
{%- endfor %}
      )
{%- else %}
      event == "push" && target_branch == "[[ branch ]]" && (
          ".tekton/[[ base_component_name ]]-on-push.yaml".pathChanged() ||
          "[[ component_dockerfile ]]".pathChanged() ||
          "[[ config_toml ]]".pathChanged()[[ " ||" if cel_path_changed else "" ]]
{%- for path in cel_path_changed %}
          "[[ path ]]".pathChanged()[[ " ||" if not loop.last else "" ]]
{%- endfor %}
      )
{%- endif %}
{%- endif %}
  labels:
    appstudio.openshift.io/application: [[ application_name ]]
    appstudio.openshift.io/component: [[ component_name ]]
    pipelines.appstudio.openshift.io/type: build
  name: [[ component_name ]]-on-{% if pipelinerun_type == "pull" %}pull-request{% else %}push{% endif %}
  namespace: [[ tenant_name ]]
spec:
{%- if timeouts %}
  timeouts:
{%- for key, value in timeouts.items() %}
    [[ key ]]: "[[ value ]]"
{%- endfor %}
{%- else %}
  timeouts:
    finally: "1h0m0s"
    pipeline: "6h0m0s"
    tasks: "4h0m0s"
{%- endif %}
  params:
  - name: git-url
    value: "{{source_url}}"
  - name: revision
    value: "{{revision}}"
  - name: output-image
    value: quay.io/redhat-user-workloads/[[ tenant_name ]]/[[ application_name ]]/[[ component_name ]]:{% if pipelinerun_type == "pull" %}on-pr-{{revision}}{% else %}{{revision}}{% endif %}
{%- if pipelinerun_type == "pull" %}
  - name: image-expires-after
    value: [[ image_expires_after ]]
{%- endif %}
  - name: path-context
    value: [[ path_context ]]
  - name: image-type
    value: [[ image_type ]]
  - name: config-toml
    value: [[ config_toml ]]
  - name: bib-file
    value: [[ component_dockerfile ]]
{%- if build_platforms %}
  - name: build-platforms
    value:
{%- for platform in build_platforms %}
    - [[ platform ]]
{%- endfor %}
{%- endif %}
  - name: snyk-project-name
    value: [[ snyk_project_name ]]
  - name: snyk-org
    value: [[ snyk_org ]]
{%- if activation_key %}
  - name: activation-key
    value: [[ activation_key ]]
{%- endif %}
{%- for param in extra_params %}
  - name: [[ param.name ]]
    value: [[ param.value ]]
{%- endfor %}
  pipelineRef:
    params:
    - name: org
      value: redhat
    - name: repo
      value: rhel-ai/konflux-data
    - name: scmType
      value: gitlab
    - name: serverURL
      value: https://gitlab.com
    - name: revision
      value: main
    - name: pathInRepo
      value: pipelines/disk-image.yaml
    - name: token
      value: pipelines-as-code-secret
    - name: tokenKey
      value: password
    resolver: git
  taskRunTemplate:
    serviceAccountName: build-pipeline-[[ component_name ]]
  workspaces:
  - name: git-auth
    secret:
      secretName: "{{ git_auth_secret }}"
