apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: [[ component_url ]]/-/tree/{{revision}}
    build.appstudio.redhat.com/commit_sha: "{{revision}}"
{%- if pipelinerun_type == "pull" %}
    build.appstudio.redhat.com/pull_request_number: "{{pull_request_number}}"
{%- endif %}
    build.appstudio.redhat.com/target_branch: "{{target_branch}}"
    pipelinesascode.tekton.dev/cancel-in-progress: "{% if pipelinerun_type == "pull" %}true{% else %}false{% endif %}"
    pipelinesascode.tekton.dev/max-keep-runs: "3"
    pipelinesascode.tekton.dev/on-cel-expression: |
{%- if pipelinerun_type == "pull" %}
{%- if variant %}
      event == "pull_request" && target_branch == "[[ branch ]]" && (
          ".tekton/[[ base_component_name ]]-on-pull-request.yaml".pathChanged() ||
          "[[ build_args_file ]]".pathChanged() ||
          "ci".pathChanged() ||
          "[[ component_dockerfile ]]".pathChanged() ||
          "context/template/***".pathChanged()
      )
{%- else %}
      event == "pull_request" && target_branch == "[[ branch ]]"
{%- endif %}
{%- else %}
      event == "push" && target_branch.startsWith("refs/tags/")
{%- endif %}
  labels:
    appstudio.openshift.io/application: [[ application_name ]]
    appstudio.openshift.io/component: [[ component_name ]]
    pipelines.appstudio.openshift.io/type: build
  name: [[ component_name ]]-on-[[ pipelinerun_type ]]{% if pipelinerun_type == "pull" %}-request{% endif %}
  namespace: [[ tenant_name ]]
spec:
{%- if timeouts %}
  timeouts:
{%- for key, value in timeouts.items() %}
    [[ key ]]: "[[ value ]]"
{%- endfor %}
{%- endif %}
  params:
  - name: git-url
    value: "{{source_url}}"
  - name: revision
    value: "{{revision}}"
  - name: output-image
    value: quay.io/redhat-user-workloads/[[ tenant_name ]]/[[ application_name ]]/[[ component_name ]]:{% if pipelinerun_type == "pull" %}on-pr-{{revision}}{% else %}{{revision}}{% endif %}
{%- if pipelinerun_type == "pull" %}
  - name: image-expires-after
    value: 1d
{%- endif %}
  - name: dockerfile
    value: [[ component_dockerfile ]]
  - name: path-context
    value: ./context/
  - name: build-args-file
    value: [[ build_args_file ]]
{%- if build_platforms %}
  - name: build-platforms
    value:
{%- for platform in build_platforms %}
    - [[ platform ]]
{%- endfor %}
{%- endif %}
  - name: additional-build-secret
    value: [[ additional_build_secret ]]
{%- if pipelinerun_type == "pull" and skip_checks %}
  - name: skip-checks
    value: "true"
{%- endif %}
  - name: snyk-project-name
    value: ai-red-hat-inference-server
  - name: snyk-org
    value: 98e4f46e-334c-414b-b444-43361f404b2f
  - name: add-capabilities
    value: ""
  pipelineRef:
    params:
    - name: org
      value: redhat
    - name: repo
      value: rhel-ai/konflux-data
    - name: scmType
      value: gitlab
    - name: serverURL
      value: https://gitlab.com
    - name: revision
      value: main
    - name: pathInRepo
      value: pipelines/[[ pipelinerun_pipeline ]].yaml
    - name: token
      value: pipelines-as-code-secret
    - name: tokenKey
      value: password
    resolver: git
  taskRunTemplate:
    serviceAccountName: build-pipeline-[[ component_name ]]
  workspaces:
  - name: git-auth
    secret:
      secretName: "{{ git_auth_secret }}"
status: {}
